body{
background-image: linear-gradient(to right,rgb(20,147,220),rgb(17,54,71));

}
.box{
    
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50% ,-50%);
    background-color: rgba(0, 0,0, 0.8);
    padding: 15px;
    border-radius: 15px;
  
    
}
fieldset{
    border: 5px solid darkblue;


}
legend{
border: 1px solid darkblue;
padding: 10px;
text-align: center;
background-color: darkblue;
border-radius: 8px;


}

#submit{

background-image: linear-gradient(to right,rgb(0,92,197),rgb(90,20,220));
width: 100%;
border: none;
padding: 15px;
color: white;
font-size: 15px;
cursor: pointer;
border-radius: 10px;
}

#submit:hover{
    background-image: linear-gradient(to right,rgb(0,80,150),rgb(80,19,190));

}
@media  screen and (max-width:600px) {

    .box{
        
     
     transform:translate(-50% ,-50%);

        
    }
}
